<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="nome" placeholder="Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="telefone" placeholder="Telefone" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select placeholder="Selecione o Genero" [(ngModel)]="genero">
      <ion-select-option value="Masculino">Masculino</ion-select-option>
      <ion-select-option value="Feminino">Feminino</ion-select-option>
      <ion-select-option value="Não Declarado">Não Declarar</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Data de nascimento:</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" max="{{data}}"
        presentation="date" [(ngModel)]="dataNascimento"></ion-datetime>
      </ng-template>
    </ion-modal>
    </ion-item>
    <ion-button (click)="cadastrar()" expand="block">Cadastrar</ion-button>
</ion-content>
