<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contatos Unicentro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-group *ngFor="let contato of contatos">
    <ion-item lines="none">Nome: {{contato?.nome}}</ion-item>
    <ion-item>Telefone: {{contato?.telefone}}</ion-item>
    </ion-item-group>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrarPage()">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    </ion-fab>

    
</ion-content>
